div{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #4f46e5;
    background-color: #4e46e524;
    border-radius: 999px;
    padding: 0.5rem;
    gap: 10px;
    max-width: 14rem;
    justify-content: flex-start;
    align-items: center;
}

p{
    font-size: small;
    color: #4f46e5;
}

img{
    height: auto;
    width: 1.5rem;
}

/* =========================================
   Responsividade Card Info Seguro (Mobile)
   ========================================= */
@media (max-width: 768px) {
  div {
    margin: 0 auto 1.5rem auto;
    justify-content: center; 
    max-width: 16rem; 
  }

  p {
    font-size: 0.85rem; 
  }
}