@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "primeicons/primeicons.css";
@import 'aos/dist/aos.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffff;
}

:root {
    --primaryColor: #4f46e5;
    --sucessColor: #059669;
}

.modalConfirmacaoSms {
    width: 380px !important;
    border-radius: 16px;
    background-color: #f5f5f5 !important;
    color: black !important;
}

.modalConfirmacaoSms .p-dialog-header {
    justify-content: center;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 1px dashed #a8a6a6;
    color: #4f46e5;
}

.modalConfirmacaoSms .p-dialog-content {
    padding: 2rem;
}

.sms-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.sms-icon {
    font-size: 4rem;
    color: #4f46e5;
    text-align: center;
}

.sms-texto {
    text-align: center;
    color: #6b7280;
    line-height: 1.5;
    margin: 0;
}

